{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body class="background">
    <div class="sidenav" id="sidenav">
      <a class="close_btn" onclick="closeNav()">x</a>

      <a href="/">
        <img
          src="{% static 'images/jazzy.png'%}"
          alt=""
          style="
            border-radius: 50%;
            padding: 13px;
            width: -webkit-fill-available;
            height: auto;
          "
          width="90"
          height="67"
        />
      </a>

      <a href="/" class="navLink">Home</a>
      {% if request.user.is_authenticated%}
      <a href="/events" class="navLink">Events</a>
      {% else %}
      <a href="/calendar" class="navLink">Calendar</a>
      <a href="/packages" class="navLink">Packages</a>
      <a href="/login" class="navLink">Login</a>
      <a href="/register" class="navLink">Register</a>
      {% endif%}
      <a href="/calendar" class="navLink">Calendar</a>
      <a href="/packages" class="navLink">Packages</a>

      {% if request.user.is_authenticated%}
      <a href="/logout" class="navLink">Logout</a>
      {% else %}
      <a href="/login" class="navLink">Login</a>
      <a href="/register" class="navLink">Register</a>
      {% endif%} {% if request.user.is_superuser%}
      <a href="/event_list" class="navLink">Admin</a>
      {% endif%}
    </div>
    <button class="open_btn" id="open_btn" onclick="openNav()">
      ☰
      <div id="Blurry_Rainbow_Circle"></div>
      <div id="Rainbow_Circle"></div>
      <div id="Large_Circle"></div>
      <div id="Medium_Circle"></div>
      <div id="Small_Circle"></div>
    </button>
    <div class="parallax2">
      <h2 class="title-home">Jazzy's Family Creations</h2>
    </div>
    <div class="container">
      <div class="calendar">
        <div class="cal2">
          {{ cal|safe }}
          <div class="find_month">
            <p class="urlCal">
              {% if event_list %} {% for event in event_list %}
              <strong>Booked Date:</strong> {{ event.select_date }}<br />
              {% endfor %} {% endif %}
              <br />{% if event_request %} {% for event in event_request %}
              <strong>Pending Date:</strong> {{ event.request_date }}<br />
              {% endfor %} {% endif %}
            </p>
            <p class="urlCalQues">
              What Month and Year would you like to check?
            </p>
            <form action="" method="GET">
              <p class="urlCal" placeholder="Month...">Month: {{form.month}}</p>
              <p class="urlCal" placeholder="Year...">Year: {{form.year}}</p>
              <input class="btn find_cal_btn" type="submit" value="Search" />
            </form>
          </div>
        </div>
        <br /><br /><br /><br />

        Copyright &copy; {{ current_year }}
      </div>
    </div>

    <script>
      function openNav() {
        document.getElementById("sidenav").style.width = "25%";
        document.getElementById("sidenav").style.borderWidth = "5px";
      }
      function closeNav() {
        document.getElementById("sidenav").style.width = "0";
        document.getElementById("sidenav").style.borderWidth = "0";
      }
    </script>
  </body>
</html>
