{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/chopin-script" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <title >Jazzy's Family Creations</title>
  </head>
  <style>
    .paypal_container {
      width: 70%%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2%;
      z-index: -3;
      position: relative;
    }
    .f_head {
      text-align: center;
    }
    .checkbox {
      margin-top: 6px;
      margin-right: 3.5%;
    }
    .terms {
      display: flex;
    }
    label {
      color: navy;
      margin-bottom: 0;
      margin-top: 20px;
    }
    input {
      display: flex;
    }
    .form_head {
      text-align: center;
    }
    .form_container3 {
      width: 65%;
      margin-top: 5%;
      margin-bottom: auto;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 15px;
      border: solid navy;
      margin-left: auto;
      margin-right: auto;
    }
    .regreq{
      display: row;
    }

  </style>
  <body class="background">
    <div class="sidenav" id="sidenav">
      <a class="close_btn" onclick="closeNav()">x</a>
      <a href="/">
        <img
          src="{% static 'images/jazzy.png'%}"
          alt=""
          style="
            border-radius: 50%;
            padding: 13px;
            width: -webkit-fill-available;
            height: auto;
          "
          width="90"
          height="67"
        />
      </a>
      <a href="/" class="navLink">Home</a>
      {% if request.user.is_authenticated%}
      <a href="/events" class="navLink">Events</a>
      {% endif%}
      <a href="/calendar" class="navLink">Calendar</a>
      <a href="/packages" class="navLink">Packages</a>

      {% if request.user.is_authenticated%}
      <a href="/logout" class="navLink">Logout</a>
      {% else %}
      <a href="/login" class="navLink">Login</a>
      <a href="/register" class="navLink">Register</a>
      {% endif%} {% if request.user.is_superuser%}
      <a href="/event_list" class="navLink">Admin</a>
      {% endif%}
    </div>
    <button class="open_btn" id="open_btn" onclick="openNav()">
      ☰
      <div id="Blurry_Rainbow_Circle"></div>
      <div id="Rainbow_Circle"></div>
      <div id="Large_Circle"></div>
      <div id="Medium_Circle"></div>
      <div id="Small_Circle"></div>
    </button>
    <div class="parallax">
      <h1 class="title-home">Jazzy's Family Creations</h1>
    </div>
<div class="regreq">
    <form method="POST" action="{% url 'events' %}" class="form_container3">
      <h3 class="f_head">Request An Event </h3>
      {% csrf_token %}
      <label for="type">Type</label>
      <input name="type" placeholder="   Type of event..." />
      <label for="theme">Theme</label>
      <input name="theme" placeholder="   Type of theme..." />
      <label for="number">Number of attendees</label>
      <input
        type="number"
        name="number"
        placeholder="   Number of attendees..."
      />
      <label for="address">Address</label>
      <input name="address" placeholder="   Address..." />
      <label for="package">Package</label>
      <div id="smart-button-container">
        <div style="text-align: center;">
          <div style="margin-bottom: 1.25rem;">
            <p></p>
            <select id="item-options" name="item-options"><option value="Basic Deposit" name="Basic Deposit"price="137.5">Basic Deposit - 137.5 USD</option><option value="Premium Deposit" name="Premium Deposit" price="187.5">Premium Deposit - 187.5 USD</option><option value="Gold Deposit" name="Gold Deposit"price="237.5">Gold Deposit - 237.5 USD</option></select>
            <select style="visibility: hidden" id="quantitySelect"></select>
          </div>
      <label for="date">Date</label>
      <input name="date" placeholder="   Date of event..." type="date" />
      <p>
        • The set up process is private, Only the party decorating crew. Planner
        will contact you when the event is almost done.
      </p>
      <p>
        • Break down is done only by the decorating crew to eliminate damage to
        equipment. Client is only to throw away used paper plates,cups, napkins,
        etc. Client is to call/text the planner 45 mins to 1 hour prior to the
        ending.
      </p>
      <p> • Half of the package price will be paid upfront to request the event. Two weeks after the event is when the second half is due.</p>
      <p>
        • All inventory must be returned or client will pay for missing
        inventory.
      </p>
      <p>
        • Decorating crew is not responsible for cleaning after event. Tables
        should be clear of any used plates cups and etc.
      </p>
      <p>* absolutely no refunds*</p>
      <div class="terms">
        <input name="terms_and_conditions" type="checkbox" class="checkbox" value=True/>
        <p>I agree to the terms and conditions.</p>
      </div>
    </form>
    
    
      <div id="paypal-button-container"></div>
      </div>
    </div>
    
      </div>
    </div>
    
  </body>
  <script src="https://www.paypal.com/sdk/js?client-id=AZSYuGtTtAy15DQPXZZcwvf33IYfQ9eGFap0J_vI1sLTMG2q7wp2hLSJKZ6lXMw6S5zx8XNufPh0IGKV&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
  <script>
    function openNav() {
      document.getElementById("sidenav").style.width = "25%";
      document.getElementById("sidenav").style.borderWidth = "5px";
    }
    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
      document.getElementById("sidenav").style.borderWidth = "0";
    }
    function initPayPalButton() {
      var shipping = 0;
      var itemOptions = document.querySelector("#smart-button-container #item-options");
  var quantity = parseInt();
  var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
  if (!isNaN(quantity)) {
    quantitySelect.style.visibility = "visible";
  }
  var orderDescription = '';
  if(orderDescription === '') {
    orderDescription = 'Item';
  }
  paypal.Buttons({
    style: {
      shape: 'rect',
      color: 'gold',
      layout: 'vertical',
      label: 'paypal',
      
    },
    createOrder: function(data, actions) {
      var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
      var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
      var tax = (0 === 0 || false) ? 0 : (selectedItemPrice * (parseFloat(0)/100));
      if(quantitySelect.options.length > 0) {
        quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
      } else {
        quantity = 1;
      }

      tax *= quantity;
      tax = Math.round(tax * 100) / 100;
      var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
      priceTotal = Math.round(priceTotal * 100) / 100;
      var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;

      return actions.order.create({
        purchase_units: [{
          description: orderDescription,
          amount: {
            currency_code: 'USD',
            value: priceTotal,
            breakdown: {
              item_total: {
                currency_code: 'USD',
                value: itemTotalValue,
              },
              shipping: {
                currency_code: 'USD',
                value: shipping,
              },
              tax_total: {
                currency_code: 'USD',
                value: tax,
              }
            }
          },
          items: [{
            name: selectedItemDescription,
            unit_amount: {
              currency_code: 'USD',
              value: selectedItemPrice,
            },
            quantity: quantity
          }]
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(orderData) {
        
        // Full available details
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

        // Show a success message within this page, e.g.
        const element = document.getElementById('paypal-button-container');
        element.innerHTML = '';
        element.innerHTML = '<h3>Thank you for your payment!</h3>';

        // Or go to another URL:  actions.redirect('thank_you.html');
        document.getElementById('form').submit()

      });
    },
    onError: function(err) {
      console.log(err);
    },
  }).render('#paypal-button-container');
}
initPayPalButton();
  </script>
  
</html>