{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"
      rel="stylesheet"
    />
    <link href="http://fonts.cdnfonts.com/css/chopin-script" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <title>Jazzy's Family Creations</title>
  </head>

  <body class="background">
    <div class="sidenav" id="sidenav">
      <a class="close_btn" onclick="closeNav()">x</a>

      <a href="/">
        <img
          src="{% static 'images/jazzy.png'%}"
          alt=""
          style="
            border-radius: 50%;
            padding: 13px;
            width: -webkit-fill-available;
            height: auto;
          "
          width="90"
          height="67"
        />
      </a>

      <a href="/" class="navLink">Home</a>
      {% if request.user.is_authenticated%}
      <a href="/events" class="navLink">Events</a>

      {% endif%}
      <a href="/calendar" class="navLink">Calendar</a>
      <a href="/packages" class="navLink">Packages</a>

      {% if request.user.is_authenticated%}
      <a href="/logout" class="navLink">Logout</a>
      {% else %}
      <a href="/login" class="navLink">Login</a>
      <a href="/register" class="navLink">Register</a>
      {% endif%} {% if request.user.is_superuser%}
      <a href="/event_list" class="navLink">Admin</a>
      {% endif%}
    </div>
    <button class="open_btn" id="open_btn" onclick="openNav()">
      ☰
      <div id="Blurry_Rainbow_Circle"></div>
      <div id="Rainbow_Circle"></div>
      <div id="Large_Circle"></div>
      <div id="Medium_Circle"></div>
      <div id="Small_Circle"></div>
    </button>
    <div class="parallax">
      <h1 class="title-home">Jazzy's Family Creations</h1>
    </div>

    <div class="scroll-body">
      <img src="static/images/divider.png" alt="divider" class="dividerimg" />
      {% comment %}
      <h1 class="about-us">About Jazzy's Family Creations</h1>
      {% endcomment %}
      <div class="image-stack">
        <img
          src="static/images/basePackage.jpg"
          alt="Base Package"
          class="image1"
        />
        <p class="about">
          Jazzy's Family Creations is a startup business where I, Jazzy Harris,
          decorate and set up events for customers. I am only able to do one
          event per day, on any Friday, Saturday, and Sunday. The events include
          but are not limited to: Anniversary's, Weddings, Birthdays,
          Celebrations, and general Parties. You the customer has to choose the
          location and book it, you get to choose the theme of your event, and
          choose the number of people who are going to show up.
        </p>

        <img
          src="static/images/gold1pckge.jpg"
          alt="Gold Package"
          class="image2"
        />
        <img
          src="static/images/premium10pckge.jpg"
          alt="Premium Package"
          class="image3"
        />
        <img src="static/images/divider.png" alt="divider" class="dividerimg" />
        <img
          src="static/images/base2Package.jpg"
          alt="Base Package 2"
          class="image4"
        />
        <p class="about2">
          The customer gets to choose the package for the event they're
          planning. I have the Basic Package which is $275, the Premium Package
          which is $375, and the Gold Package which is $475. Prices may differ
          depending on the size of the venue and the amount of people going to
          attend. A deposit is required to book your event, it will be 1/2 of
          the main price. The full price is acceptable as well. Two weeks after
          your event the second half of the price is reqired to be payed.
        </p>

        <img
          src="static/images/gold2pckge.jpg"
          alt="Gold Package 2"
          class="image5"
        />
        <img
          src="static/images/premium9pckge.jpg"
          alt="Premium Package 2"
          class="image6"
        />
        <img src="static/images/divider.png" alt="divider" class="dividerimg" />
        <img
          src="static/images/gold3pckge.jpg"
          alt="Base Package"
          class="image7"
        />
        <p class="about">
          In order to book your event please make your way to the calendar tab
          where you can see what days are avaliable and what days are booked. To
          schedule an event, I have to be informed and paid the deposit 2 weeks
          in advance of the event. To find out what all is included in each
          package, please make your way through the tabs to the package tab and
          view what comes with each package.
        </p>

        <img
          src="static/images/premium4pckge.jpg"
          alt="Gold Package"
          class="image8"
        />
        <img
          src="static/images/banner.png"
          alt="Premium Package"
          class="image9"
        />
        <img src="static/images/divider.png" alt="divider" class="dividerimg" />
        <p class="about2">
          I, Jasmine Harris, can be contacted by email here:
          jazzysfamilycreations@gmail.com
        </p>
      </div>
    </div>
  </body>
  <script>
    function openNav() {
      document.getElementById("sidenav").style.width = "25%";
      document.getElementById("sidenav").style.borderWidth = "5px";
    }
    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
      document.getElementById("sidenav").style.borderWidth = "0";
    }
  </script>
</html>
