<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Contact Form</h3>

    <form method="post" action="{% url 'request' %}">
      {% csrf_token %}
      <textarea name="type" placeholder="Type of event..."></textarea>
      <textarea name="theme" placeholder="Type of theme..."></textarea>
      <input type="number" name="number"></input>
      <textarea name="address" placeholder="Address..."></textarea>
      <textarea name="date" placeholder="Date of event..."></textarea>
      <input type="submit" />
    </form>
  </body>
</html>
